<!DOCTYPE html>

<html>
<style>

*{box-sizing: border-box;}

body 
{
background:url("https://static.pexels.com/photos/459469/pexels-photo-459469.jpeg");
background-size: cover;
background-repeat: no-repeat;
width: auto;
height: auto;
color:#ef0a02;
background-color: #FFFFFF;
font-family: Verdana, Arial, Helvetica, sans-serif;
margin: 0;
}

header 
{
background-color:#4CAF50; 
color:#FFFFFF;
font-family: Georgia, Times New Roman, serif;
text-align: center;
}

h1 
{
padding-left:20px;
background-position: right;
height:72px;
line-height:200%;
margin-bottom:0;
background-repeat:no-repeat;
}

nav 
{
background-color:#CDDC39;
font-weight:bold;
padding:5px;
text-align: center;
font-size: 1em;
}

nav a
{
text-decoration:none;
}

#nav a:link 
{ 
color: #FFFFFF; 
}

#nav a:visited 
{
color: #4CAF50;
}

#nav a:hover 
{
color: #FFFFFF; 
}

#nav ul 
{ 
list-style-type: none; 
margin: 0; 
padding-left: 0; 
}

ul
{
color:#D3CB78;
font-family:Georgia, Times New Roman, serif;
font-size:1em;
}

li
{
color:#446C0C;
font-family:Georgia, Times New Roman, serif;
font-size:1em;
margin-left: 35px;
}	

h2 
{
color:#FFEB3B;
font-family:Georgia, Times New Roman, serif;
text-align: center;
}

h3
{
color:#E17D5C;
font-style:italic;
font-family:Georgia, Times New Roman, serif;
font-size:2em;
text-align:center;
}

p
{
color:#FFFFFF;
font-family:Georgia, Times New Roman, serif;
font-size:1em;
}

main
{
padding: 0;
display:block;
}

table
{
width:90%;
margin:auto;
border:3px solid #FFFFFF;
border-collapse:collapse;
}
tr
{
background-color: #4CAF50;
color:#FFFFFF;
}

td
{
padding: 5px;
border: 3px solid #FFFFFF;
text-align: center;
color:#FFFFFF;
}

th
{
padding: 5px;
border: 3px solid #FFFFFF;
color:#FFFFFF;
}

.text
{
text-align:left;
color:#FFFFFF;
}

dt
{
color:#2E7D32;
font-weight:bold;
}

.column1
{
background-color:#4CAF50;
float: left;
width: 33%;
text-align:center;
margin-bottom: 3em;
margin-top: 2em;
}

.column2
{
background-color:#4CAF50;
display:inline-block;
width: 33%;
text-align:center;
margin-bottom: 3em;
margin-top: 2em;
}

.column3
{
background-color:#4CAF50;
float: right;
width: 33.33%;
text-align:center;
margin-bottom: 3em;
margin-top: 2em;
}

.aboutusco2
{
	float:right;
    width: 60%;
    height: 300px;
	text-align:left;
	margin-bottom: 3em;
}

#home
{
background:url(giphy.gif);
background-position: 0px 0px, 10px 10px;
background-size: cover;
height:600px;
background-size:100% 100%;
background-repeat:no-repeat;
}

#menu 
{
background-color:#4CAF50;
height:auto;
margin:0px;
width:auto;
}

#location 
{
background-color:#4CAF50;
height:auto;
margin:0px;
width:auto;
}

#about
{
background-color: #4CAF50;
height: auto;
margin:0px;
width:auto;
margin-bottom: 4em;
}

#feed
{
background-color:#4CAF50;
height:auto;
margin:0px;
width:auto;
}

#career
{
background-color:#4CAF50;
height:auto;
margin:0px;
width:auto;
}

#cater
{
background-color:#4CAF50;
height:auto;
margin:0px;
width:auto;
}

footer
{
font-size:0.70em;
color:#FFFFFF;
text-align:center;
font-style:italic;
padding:10px;
}

#wrapper 
{
background-color:#4CAF50;
background-position: center;
background-size: cover;
width: 90%;
min-width:350px;
max-width:2024px;
position:center;
margin-right:auto;
margin-left:auto;
height:auto;
}

header,nav,main,footer{display:block;}

#mobile {display: none;}
#desktop {display: inline;}

form{ background-color: #F44336; font-family: Georgia, Times New Roman, serif; padding: 10px;}
label{float: left; clear:left; padding-right:10px; width:100px; color: #FFFFFF; text-align:right; margin-top:10px;}
input{display:block; margin-top:10px;}
textarea{display:block; margin-top:10px; }
#mySubmit{margin-left: 110px;}





@media only all and (max-width:1000px) 
{
	body{margin: 0; width:auto; }
	#wrapper{ width:auto;}
	main {margin-left: 0;}
	nav{ float:none; width:auto; }
	nav li{display:inline-block; padding:0;}
	nav a{border-style:none;}
	nav ul{text-align: center;}
	h1,h2 {font-size: 120%;}
	p{font-size: 90%;}
	footer{ margin:0;}
	table{ width:auto; margin:auto; border:3px solid #FFFFFF; border-collapse:collapse; }
	.column1{ width: 100%;}
	.column2{ width: 100%;}
	.column3{ width: 100%;}	
	.aboutusco2 {width: 100%;}
	#home {height:350px; background:url(giphy.gif); background-size: 100% 100%; margin-left:0px; background-repeat:no-repeat;}
	#location { background:#f90606; height:auto; margin:0px; width:auto; }
	#about { background: #f10404; height: auto; margin:0px; width:auto; }
	#feed { background-color:#F44336; height:auto; margin:0px; width:auto; }
	#career { background-color:#F44336; height:auto; margin:0px; width:auto; }
}

@media only screen and (max-width:1024px) 
{
	body{margin: 0; width:auto; }
	#wrapper{ width:auto;}
	main {margin-left: 0;}
	nav{ float:none; width:auto; }
	nav li{display:inline-block; padding:0.5em;}
	nav a{border-style:none;}
	nav ul{text-align: center;}
	footer{ margin:0;}
	table{ width:auto; margin:auto; border:3px solid #FFFFFF; border-collapse:collapse; }
	.column1{ width: 100%;}
	.column2{ width: 100%;}
	.column3{ width: 100%;}
	.aboutusco2 {width: 100%;}
	#home {height:350px; background:url(giphy.gif); background-size: 100% 100%; margin-left:0px; background-repeat:no-repeat;}
	#location { background:#F44336; height:auto; margin:0px; width:auto; } 
	#about { background: #000000; height: auto; margin:0px; width:auto;}
	#feed { background-color:#000000; height:auto; margin:0px; width:auto; }
	#career { background-color:#000000; height:auto; margin:0px; width:auto; }
}

@media only screen and (max-width:768px) 
{
	body{width: 85%;}
	#wrapper{ width:85%; margin:auto;}
	nav{ float:none; width:auto; padding:0; }
	nav a{display:block;padding:0; border-bottom: 2px ridge #000000;}
	footer{ height:auto; margin:0;}
	table{ width:auto; margin:auto; border:3px solid #FFFFFF; border-collapse:collapse; }
	.column1{ width: 100%;}
	.column2{ width: 100%;}
	.column3{ width: 100%;}
	.aboutusco2 {width: 100%; }
	#home {height:350px; background:url(giphy.gif); background-size: 100% 100%; margin-left:0px; background-repeat:no-repeat;}
	#location { background:#000000; height:auto; margin:0px; width:auto; }
	#about { background: #000000; height: 60em; margin:0px; width:auto;}
	#feed { background-color:#000000; height:auto; margin:0px; width:auto; }
	#career { background-color:#000000; height:auto; margin:0px; width:auto; }
}

@media print 
{
	header{display:none;}
	nav{display:none;}
	footer{display:none;}
	img{max-width:100%;}
	body{font: 12pt Georgia, "Times New Roman", Times, serif; line-height: 1;}
	h1 {font-size: 10pt;}
	h2 { font-size: 10pt; margin-top: 0px; }
	h3 {font-size: 10pt; margin: 3px; }
	ul {list-style: none}
	table{ page-break-inside: avoid; width:auto; margin:auto; padding:0;}
	td { padding: 2px; text-align: center;color:#000000;}
	th { padding: 2px; text-align: center;color:#000000;}
	p{color:#000000;}
	.text{color:#000000;}
	#wrapper { width: auto; border: 0; margin: 0 5%; padding: 0; float: none;}
	#home {height:350px; background:url(giphy.gif); background-size: 100% 100%; margin-left:0px; background-repeat:no-repeat;}
	#location { background:#000000; height:auto; margin:0px; width:auto; }
	#about { background: #000000; height: auto; margin:0px; width:auto;}
	#feed { background-color:#000000; height:auto; margin:0px; width:auto; }
	#career { background-color:#000000; height:auto; margin:0px; width:auto; }
	
}


</style>
</html>
